/* Reset e Background  */
body {
    background-color: #C8CED3;
    margin: 0px;
    padding: 0px;
}

/* /Reset e Background */

/* Logo e Titolo */
header {
    background-color: #F6F8F9;
}

.logo {
    vertical-align: middle;
}

.logotxt {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

/* /Logo e Titolo */

/* Bottoni */

.bottoni {

    background-color: #F6F8F9;
    text-align: left;
    margin: 50px 400px 1px;
    max-width: 950px;
    height: 40px;
    padding-left: 70px;
    padding-top: 25px;
    border: 2px solid #C8CED3;
    border-radius: 10px;
}

.bottoneblu {
    background-color: #47ADF1;
    color: white;
    width: 120px;
    height: 35px;
    border: solid 1px #47ADF1;
    border-radius: 5px;


}

.bottonebianco {
    background-color: #F6F8F9;
    color: #C8CED3;
    width: 120px;
    height: 35px;
    border: solid 1px #C8CED3;
    border-radius: 5px;
}

/* /Bottoni */

/* Sezioni e elenchi */
#sezioni {
    background-color: #F6F8F9;
    margin: 2px 400px;
    max-width: 850px;
    text-align: left;
    padding-left: 9%;
    max-height: 950px;
    border: 2px solid #C8CED3;
    border-radius: 10px;
}

.fontr {
    font-family: 'Roboto', sans-serif;

}

.check::before {
    content: '\2713';
    color: lightgreen;
    border: solid 1px lightgreen;
    border-radius: 9px;
}

.cross::before {
    content: '\0078';
    color: red;
    border: solid 1px red;
    border-radius: 9px;

}

.liste {
    list-style-type: none;
}

.check {
    margin-top: 5px;
}

.cross {
    margin-top: 5px;
}

/* /Sezioni e elenchi */

/* Box affiancati al elenco */

#space {
    padding-top: 20px;
    padding-bottom: 10px;
}

.editorial {
    background-color: #47ADF1;
    color: #F6F8F9;
    border: 11px solid #47ADF1;
    border-radius: 15px;
    font-size: small;
}

.q1goals {
    background-color: #9C72E4;
    color: #F6F8F9;
    border: 11px solid #9C72E4;
    border-radius: 15px;
    font-size: small;
}

.recruiting {
    background-color: #65C1AA;
    color: #F6F8F9;
    border: 11px solid #65C1AA;
    border-radius: 15px;
    font-size: small;
}

.mobile {
    background-color: #F29E33;
    color: #F6F8F9;
    border: 11px solid #F29E33;
    border-radius: 15px;
    font-size: small;
}

.website {
    background-color: #D863A1;
    color: #F6F8F9;
    border: 11px solid #D863A1;
    border-radius: 15px;
    font-size: small;
}

.sales {
    background-color: #B0C926;
    color: #F6F8F9;
    border: 11px solid #B0C926;
    border-radius: 15px;
    font-size: small;
}

/* Box affiancati al elenco */